{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "/home/releaser/scripts/semantic-release-prepare ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/gitlab",
      {
        "assets": [
          "./main"
        ]
      }
    ]
  ]
}
